# Ignore all node_modules folders
node_modules/
frontend/node_modules/
backend/node_modules/

# Build files and caches
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor

# Environment and debug logs
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.phpunit.cache

# IDE/editor settings
/.fleet
/.idea
/.vscode
.idea/
